html(lang="en")
  head
    meta(charset="UTF-8")
    title chat
    link(rel="stylesheet" href="./index.css")
    script(src="./index.min.js" defer=true)
  body
    div.messages__container
      .messages#root
